html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  /* justify grids left */
  /* justify-content: left; */
}

.chart {
  width: 540px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 580px) {
  .chart-container {
    grid-template-columns: 1fr;
  }
  .chart {
    width: 100%;
  }
}
